.footer {
    background-color: var(--primary);
}

.ulf {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: wrap;
    gap: 80px;
    font-size: 20px;
    width: 100%;
    padding: 15px 0;
    text-align: center;

}
nav a:hover {
    color: var(--secondary-a);
}

.ulf > li > a {
    color: var(--secondary-dark);


}

